:root {
    --primary-color: forest green;
    --secondary-color: #f4a261;
    --accent1-color: dark slate blue;
    --accent2-color: light golden yellow;
    --heading-font: "Times New Roman", "georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;

}

ul {
    background-color: beige;
    width: 400px;
    height: 40px;
    padding: 0px;
    text-align: center;



}

header,
img,
nav {
    background-color: olivedrab;
    margin: auto;
    padding: 1px ;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    border-bottom: 5px solid white;
    max-width: 1000px;
    padding: 1rem;
    gap: 1rem;

}

header image {
    display: grid;
    grid-column: 1/2;
    justify-content: center;


}


nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.history h2 {
    grid-column: 1/-1;
    text-align: center;

}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
    background-color: beige;
    
}

.history img{ 
    display: block;
    width: 100%;
    height: auto;
    max-width:250px;
    grid-column: 2/3;
    align-items: center;



}
.history p{
    display: grid;
    
}



p,
section,
article {
    margin: 1px;
    padding: 8px;


}

section,
article {
    background-color: var(--accent2-color);

}

.socialmedia a {
    text-decoration: none;
   
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color: black;
}

.hero article {
    position: absolute;
    /*Style the article using absolute positioning and a style of your choice.*/
    top: 100px;
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: var(--body-font);
    color: white;
    margin-top: 120px;

}

.hero article img {
    float: right;
    width: 150px;
    border: 8px px var(--secondary-color);
    margin: 20px;
    box-shadow: var(--accent2-color);

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: olivedrab;

}

.adventures {
    display: grid;
    grid-template-columns:  repeat(5,minmax(0,1fr));
    gap: 8px;
    text-align: center;
    justify-content: center;
    background-color: beige;
}
.adventures h2 {
   grid-column: 1/ -1;



}


.adventures img {
    display: block;
    width: 100% ;
    max-width: 150px;


   
}

