*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    max-width: 500px;
    height: auto;
    background-color: darkgray;
    color: darkgreen;

}

h1{
    margin: .5rem;

}

form{
    background-color: beige;
    color: black;

}

textarea, input, select {
    padding: .75rem;
    width: 350px;
}
button{
    display: block;
    background-color: navy;
    color: white;
    margin: 0 auto;
   
    border-radius: .5rem;
    border: 1px solid rgb(red green blue / 10%)
}
code{
    display: block;
    background-color: black;
    color: white;
    align-self: center;
}

.box{
    margin: 1rem;
    border: 1px solid rgb(red green blue / 10%);
    padding: 1rem;
}
.quiz-item{
    border: none;

}