   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;

   }

   header,
   footer,
   .grid {
       max-width: 840px;
       margin: 0 auto;

   }

   nav {
       background-color: darkred;
       padding: 15px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
   }

   nav a {
       color: white;
       text-decoration: none;
       display: block;
       padding: 1.2rem;
   }

   h1 {
       color: darkred;
       margin-left: 10px 0;
       border-bottom: 2px solid black;
   }

   img {
       width: 150px;
       height: auto;
       border: 1px solid black;
       padding: 2px;
       box-shadow: 0 0 30px gray;
   }

   p {
       padding: 0;
   }

   .grid {
       display: grid;
       align-items: center;
   }

   main {
       grid-column: 2/3;
       margin: 1rem;
   }

   aside {
       position: relative;
       width: 20rem;
       text-align: center;
       grid-column: 1/2;
       grid-row: 1/2;
   }

   aside img {
       width: 200px;
       height: auto;

   }

   aside h2 {
       position: absolute;
       color: darkolivegreen;
       margin-left: 60px;
       margin-top: 30px;
   }

   main img {
       width: 150px;
       height: auto;
       float: right;
       margin: left 10px;
   }

   footer {
       margin-top: 15px;
       border-top: 1px #000;
       text-align: center;
   }

   /* class selectors*/
   .box {
       border: 1px solid rgb (0 0 0 /10%);
       margin: 0;
       padding: 1rem;
       background-color: rosybrown;
       color: rgb black;
   }